from flask_restx import Namespace, Resource

{%- for x in routines %}
from {{x}} import config as {{x}}_test
{% endfor %}

import sys
import io

api = Namespace("Routine: {{ config_name }}", description="{{ config_desc }}")


@api.route("/")
class basic_routine(Resource):
    def get(self):
        stdout_bak = sys.stdout  # backup stdout
        sys.stdout = io.StringIO()

        {%- for x in routines %}
        {{x}}_test.{{x}}.get({{x}}_test)
        {% endfor %}

        output = sys.stdout.getvalue()
        sys.stdout.close()
        sys.stdout = stdout_bak
        print(output)
        return output
