from flask_restx import Namespace, Resource
import cx_Oracle
import pytest
import sys
import io
import os

from utils import sql_functions

api = Namespace(
    "Test: {{ config_name }}", description="{{ config_desc }}")


@api.route("/")
class {{test_name}}(Resource):
    def get(self):
        stdout_bak = sys.stdout  # backup stdout
        sys.stdout = io.StringIO()
        pytest.main(["--disable-warnings", "-s", "{{test_name}}/config.py"])
        output = sys.stdout.getvalue()
        sys.stdout.close()
        sys.stdout = stdout_bak
        log_file = open("{{test_name}}/log.txt", "w")
        log_file.writelines(output)
        msg = "See output log at: {{test_name}}/log.txt "
        msg += output.splitlines()[-1]
        log_file.close()
        return msg

def test_sql():
    ##CONNECTION DETAILS
    username = '{{user}}'
    password = '{{password}}'
    dsn = '{{host}}:{{port}}/{{db}}'
    rollback_on_error = {{rollback_on_error}}
    continue_on_error = {{continue_on_error}}
    try:
        cx_Oracle.init_oracle_client(lib_dir=r"\oracle\\instantclient_21_6")
    except Exception as e:
        print("FATAL ERROR: {}".format(e))
    conn = cx_Oracle.connect(
            username,
            password,
            dsn)
    sql = sql_functions(rollback_on_error, continue_on_error, conn)
    ## SETUP ENVIRONMENT
    {%- if setup != None %}
    {%- for x in setup %}
    {%- if x[-4:] == ".sql" %}
    sql.run_sql_file("{{ x[0:-4] }}", "{{test_name}}")
    {%endif%}
    {%- if x[-4:] == ".csv" %}
    sql.fill_table_data("{{ x[0:-4] }}", "{{test_name}}")
    {%endif%}
    {% endfor %}
    {% endif %}
    ## RUN TEST CASE
    result = ""
    {%- if query != None %}
    {%- for x in query %}
    output = sql.run_sql_file("{{ x[0:-4] }}", "{{test_name}}")  # Run SQL

    if output != None:
        result += output
    {% endfor %}
    {% endif %}
    ##EVALUATION
    {%- if result != None %}
    expected_result = open(
        "{}/{}".format("{{test_name}}", "{{result}}")).read()
    print("\nExpected result: {}".format(expected_result))
    print("Actual result: {}".format(result))
    assert(result == expected_result), "Console output of SQL query is not the same as given expected output"
    {%endif%}
    {%- if eval != None %}
    {%- for x in eval %}
    assert(sql.is_table_entries_equal("{{x[0:-4]}}", "{{x[9:-4]}}")
           ), "Resultant table data is not the same as given expected table data"
    assert(sql.is_table_columns_equal("{{x[0:-4]}}", "{{x[9:-4]}}")
           ), "Resultant table columns are not the same as given expected table columns"
    assert(sql.is_table_indexes_equal("{{x[0:-4]}}", "{{x[9:-4]}}")
           ), "Resultant table indexes are not the same as given expected table indexes"
    assert(sql.is_table_constraints_equal("{{x[0:-4]}}", "{{x[9:-4]}}")
           ), "Resultant table constraints are not the same as given expected table constraints"
    {%endfor%}
    {%endif%}
    ## RUN TEARDOWN
    {%- if teardown != None %}
    {%- for x in teardown %}
    {%- if x[-4:] == ".sql" %}
    sql.run_sql_file("{{ x[0:-4] }}", "{{test_name}}")  # Run SQL
    {%endif%}
    {%- if x[-4:] == ".csv" %}
    sql.fill_table_data("{{ x[0:-4] }}", "{{test_name}}")  # Fill table with csv data
    {%endif%}
    {% endfor %}
    {%endif%}
